.warning{
    color: red;
}
.good{
    color: green;
}
.header{
    display: flex;
    justify-content: space-between;

}
.nav-links{
    display: flex;
    justify-content: space-between;
    
}
.nav-link{
    margin-right: 10px;
}